

$font-stack:    Open Sans, Helvetica, sans-serif
$bloodred: #812
$white: #eee
$body-bg: transparent

/* * */
/*   -webkit-box-sizing: border-box */
/*      -moz-box-sizing: border-box */
/*           box-sizing: border-box */

body
    font: 100% $font-stack
    font-size: 1em
    color: #222
    width: 100vw
    margin: 0px
    padding: 0px

h1
    font-size: 1.6em
    font-weight:  400
    font-variant: small-caps
    text-align: center
    color: #eee

h2
    font-size: 1.4em
    text-align: center
    color: $bloodred




.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: #cab


.footer
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    background-color: #cab


// Parallax
.parallax
    position: relative
    height: 100vh
    overflow: hidden
    background:
        size: auto 100vh
        position: 50% 50%
        attachment: fixed

#parallaxBox1
    background-image: url('./img/bg1.png')
#parallaxBox2
    background-image: url('./img/bg2.jpg')
#parallaxBox3
    background-image: url('./img/bg3.jpg')


.dither
    height: 100vh
    opacity: 0
    background:
        size: auto 100vh
        position: top center
        attachment: fixed
        color: transparentize($bloodred, 0)

.logo
    height: 100px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    background:
        color: transparentize($bloodred, 0.2)
    position: absolute
    top: 50%

#logo1
    margin-top: -50px
#logo2
    margin-top: -50px
#logo3
    margin-top: -50px


.people
    height: 150px
    width: 150px
    position: absolute
    bottom: -1px

#fore-man1
    left: 5%
#fore-man2
    left: 10%
#fore-woman
    left: 0%


#heart-beat
    height: 280px
    position: absolute
    top: -60%
    right: 14%



////////////////////////////////////////////


$svgDimensions: 100px

@media screen and (min-width:600px)
    .container
        border: 0px solid #333
        color: #eee
        position: relative
        display: flex
        flex-direction: row
        text-align: center
        background-color: #222
        height: $svgDimensions
        z-index: 1
        top: 0
        width: 100%



@media screen and (max-width:599px)
    .container
        border: 0px solid #111
        color: #eee
        position: relative
        display: flex
        /* flex-direction: column */
        flex-direction: row
        text-align: center
        background-color: #222
        height: $svgDimensions
        z-index: 1
        top: 0



.svgFloater
    flex: 1
    max-width: $svgDimensions
    max-height: $svgDimensions

.spacer
    height: 100px
    font-size: 0.5em
    line-height: $svgDimensions
    text-align: center
    background:
        color: transparentize($bloodred, 0.1)



.textBox
    display: flex
    justify-content: center
    align-items: center
    flex: 2
    width: auto
    margin: 2%

.textGrid
    display: flex
    flex: 0 1 50%
    justify-content: center
    align-items: center
    margin: 2%

.textGridSingle
    display: flex
    flex: 0 1 100%

.registeredUser
    font-size: 1.4em
    color: transparentize(#6c6, 0.1)

.signupForm
    font-size: 1.2em
    margin: 2%


.signupButton
    font-size: 1.2em
    margin: 2%


